@import './variables.scss';

.sequenceTrip {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem 0;

  details[data-step] > summary {
    font-size: 1.25rem;
  }
  details[data-step][open] > summary,
  details[data-step][open] > summary:not([role]):not(:focus) {
    color: var(--primary) !important;
  }

  .heading {
    margin-bottom: 0.5rem;
  }

  .sequenceTripForm {
    display: flex;
    gap: 0.5rem;

    input,
    button {
      margin-bottom: 0;
    }
  }

  .addButton {
    max-width: 100px;
  }

  .clearButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--secondary);

    svg {
      fill: var(--secondary);
    }

    &:focus svg,
    &:hover svg {
      fill: var(--del-color);
    }
  }

  .copyButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--secondary);

    svg {
      fill: var(--secondary);
    }

    &:focus svg,
    &:hover svg {
      fill: var(--primary);
    }

    &:focus,
    &:hover {
      color: var(--primary);
    }
  }

  .removeButton {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    margin-top: 5px;

    svg {
      fill: var(--secondary);
    }

    &:focus svg,
    &:hover svg {
      fill: var(--del-color);
    }
  }

  .startHereButton {
    display: none;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 0;
    border: none;
    margin-left: auto;
    font-size: 0.75rem;
    padding: 1px 8px 2px;
    white-space: nowrap;
    position: absolute;
    inset: 2px 0 0;
  }

  .addressesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    .addressesHeadingContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .addressesHeading {
      margin-bottom: 0;
    }
  }

  .addresses {
    padding: 0;

    li {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      word-break: break-word;
    }
  }

  .toAddresses {
    padding-left: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .sequenceTripButton {
    margin-top: 0;
  }

  .startAddressIndicator {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 1px 0.25rem;
    margin-right: auto;
    font-size: 0.75rem;
    font-weight: bold;
    background: var(--primary-focus);
  }

  .shareResultContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > * {
      flex: 0;
      margin-bottom: 0;
    }
  }
}
