.hidden {
  display: none;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.theme-toggle-button {
  padding: 0px;
  background-color: transparent;
  border: none;
  width: 20px;
}

body > div:first-child {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
main {
  flex: 1;
}


header nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
header nav ul li.active a {
  background-color: var(--primary-focus);
}

details[role=list] summary::after {
  position: absolute;
  top: var(--form-element-spacing-vertical);
  right: var(--form-element-spacing-horizontal);
  /* display: block;
  width: 1rem;
  height: calc(1rem * var(--line-height,1.5));
  -webkit-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
  float: right;
  transform: rotate(0);
  background-position: right center;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  content: ""; */
}
