.hidden {
  display: none;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.theme-toggle-button {
  padding: 0px;
  background-color: transparent;
  border: none;
  width: 20px;
}

body > div:first-child {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
main {
  flex: 1;
}


header nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
header nav ul li.active a {
  background-color: var(--primary-focus);
}
